.chat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  height: 70px;
  border-bottom: 1px solid lightgray;
}

a {
    text-decoration: none;
    color: inherit;
}

.chat-avatar {
    margin-right: 20px;
}

.chat-details {
    flex: 1;
}

.chat-message {
    color: gray;
}

.chat-timestamp {
    color: lightgray;
}